@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e121a;
}
* {
  font-family: "Sora", sans-serif;
}
.hero {
  background-image: url("https://tailwindcss.com/_next/static/media/1-dark@tinypng.a99d6c93.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.project-card{
  background-image: url("/casestudybackground.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.codefont {
  font-family: "Courier New", Courier, monospace;
}
.steps{
  position: sticky;
  top: 0;
  background-color: #0e121a;
}
@media (max-width: 768px) {
  .steps {
    position: static; /* Make the position non-sticky on small screens */
  }
  .project-card{
    position: sticky;
    top: 0;
    background-color: #0e121a;

  }
}

