@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ginora-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainfont {
  font-family: "Ginora Sans", sans-serif;
}

body {
  background-color: #161616;
  color: #9c9c9c;
  background-image: radial-gradient(rgb(43, 42, 42) 1px, transparent 0);
  background-size: 50px 50px;
}
.logostyle {
  filter: grayscale(10%);
}
/* Add this CSS to your stylesheet */

.logos {
  display: flex;
  animation: slideRightToLeft 40s linear infinite;
}
@media only screen and (max-width: 600px) {
  .logos {
    display: flex;
    animation: slideRightToLeft 10s linear infinite;
  }
}

@keyframes slideRightToLeft {
  100% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

/* Adjust the duration (20s in this example) based on your preference */
.project{
  background-image: radial-gradient(#1b1c1b 20%, transparent 20%),
  radial-gradient(#161615 20%, transparent 20%);
background-size: 7px 7px;

}
.me{
  filter: grayscale(110%);
}