@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

.swiper-slide {

  border-radius: 18px;

}

.swiper-slide {
  background-color: #ECF2FF;
}

.bgi{
  background-color: #FAF8F1;
}

.colorhunt-about-bg{
  background-color: #FAF8F1;
}
.bg-about{
  background-color: #ECE8DD;
}
@media only screen and (max-width: 600px) {
  .colorhunt-about-bg{
    background-color: #ECE8DD;
  }
}
@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
 
}
body {
  background-color: #faf9f6;
}


a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
